#header{
    background-color: #17171a;
}
.avt{
    width: 16px;
    height: 16px;
}

.bg-hover{
    background-color: #17171a;
  }
.bg-hover:hover{
    background-color:#474964;
}

.search-bg{
    background: #474964;
}